// Colors
$primary: #9198FD;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$btn-dark: #1B0C66;
$btn-light: #7666c5;

$font-dark: #443F80;
$font-light: #635da1;


$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
